{% extends "base.html" %}

{% block content %}

    <div style="margin:50px 200px 0px 200px">
        <table class="table table-bordered">
            <tr>
                <td>项目名称</td>
                <td></td>
            </tr>
            <tr>
                <td>项目经理</td>
                <td></td>
            </tr>
            <tr>
                <td>预计结束时间</td>
                <td></td>
            </tr>
            <tr>
                <td>项目描述</td>
                <td></td>
            </tr>
        </table>
    </div>

{% endblock %}

